footer {
    background-color: rgb(227, 247, 250);
    text-align: center;
}
.footer{
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

span {
    display:block;
    font-weight:650;
    padding:0.5rem;
}
ul li {
    display: inline-block;
}
 ul a {
    display: inline-block;
    padding: 1rem;
}
.footer__copyright {
    font-size: 1.4rem;
}
